<title>Energy | Tesla</title>
<div class="main-wrapper">

  <div  class="header-section" id="mobile-energy-header-section">
        <a href="#"><img id="burg" src="./images/hamburger2.png" alt=""></a>
        <img ui-sref="mainmobile" src="./images/client_logo_tesla.png" class="main-logo" alt="">
      </div>
      <div class="logo-container">
  </div> <!-- end of header section-->

  <div class="header-container-energy" id="energy-header-container">
    <div class="logo-container">
      <div class="logo" id="energy-header-logo">
        <img ui-sref="mainmobile" src="./images/client_logo_tesla.png" class="main-logo" alt="">
      </div><!-- end logo -->
    </div><!-- end logo container -->
    <div class="models-container">
      <div class="models">
        <ul class="models-list" id="models-list">

        </ul>
      </div>
    </div><!-- end model container -->
    <div class="links-container">
      <div class="links">
        <ul class="links-list" id="links-list">
          <li ui-sref="models">MODEL S</li>
          <li ui-sref="modelx">MODEL X</li>
          <li ui-sref="model3">MODEL 3</li>
          <li ui-sref="energy">ENERGY</li>
        </ul>
      </div><!-- end link -->
    </div><!-- end links container -->
  </div><!-- end header-container models -->

  <div class="hero-container" id="energy-hero-container">
    <img src="images/energy-hero.jpg" alt="">
  </div><!-- end hero container -->

  <div class="models-navbar">
    <div class="models-navbar-title">
      <h1>Energy</h1>
    </div>
    <div class="navbar-links" id="navbar-links">
      <ul>
        <!-- <li>Features</li>
        <li>Test Drive</li>
        <li>Custom Order</li>
        <li>Pre-Owned</li>
        <li>Get Updates</li> -->
      </ul>
    </div><!-- end navbar links -->
    <div class="white-line"></div><!-- end white line -->
  </div><!-- end models navbar -->
</div><!-- end main wrapper -->
