<body class="mainmobile-container">
  <div class="main_wrapper">

    <div  class="header-section" id="header-section">
          <a href="#"><img id="burg" src="./images/hamburger2.png" alt=""></a>
          <img ui-sref="mainmobile" src="./images/client_logo_tesla.png" class="main-logo" alt="">
        </div>
        <div class="logo-container">
    </div> <!-- end of header section-->

    <div class="sections-wrapper">
      <div class="section1-wrapper">
        <img src="./images/homepage-hero--touch@750w.jpg" class="mainmobile-img" alt="">
        <div class="mainmobile-title"><h1>Quickest Production Car on Earth.</h1></div><!-- end mainmobile title -->
        <div class="mainmobile-btns">
          <ul>
            <li ui-sref="inventory">SHOP NEW INVENTORY</li>
            <li>ORDER MODEL S</li>
            <li>ORDER MODEL X</li>
            <li>WATCH OUR SELF-DRIVING VIDEO</li>
          </ul>
        </div><!-- end mainmobile-btns -->
      </div><!-- end section1 wrapper -->

      <div class="section1-wrapper">
        <img src="./images/homepage-models--touch@750w.jpg" class="mainmobile-img" alt="">
        <div class="section1-titles">
          <h1>Model S</h1>
          <h4>Electric Sedan</h4>
          <p>Quickest, Longest Range, Seats 5 adults</p>
        </div><!-- end section1 titles -->
        <div class="section1-mainmobile-btns">
          <ul>
            <li ui-sref="inventory">NEW INVENTORY</li>
            <li>DESIGN YOURS</li>
            <li ui-sref="models">FEATURES</li>
            <li>TEST DRIVE</li>
          </ul>
        </div><!-- end mainmobile-btns -->
      </div><!-- end section1 wrapper -->

      <div class="section2-wrapper">
        <img src="./images/homepage-modelx--touch@750w.jpg" class="mainmobile-img" alt="">
        <div class="section2-titles">
          <h1>Model X</h1>
          <h4>Electric SUV</h4>
          <p>Spacious, Tow Rated, Seats 7 Adults</p>
        </div><!-- end section1 titles -->
        <div class="section2-mainmobile-btns">
          <ul>
            <li ui-sref="inventory">NEW INVENTORY</li>
            <li>DESIGN YOURS</li>
            <li ui-sref="modelx">FEATURES</li>
            <li>TEST DRIVE</li>
          </ul>
        </div><!-- end mainmobile-btns -->
      </div><!-- end section2-wrapper -->

      <div class="section3-wrapper">
        <img src="./images/homepage-energy--touch@750w.jpg" class="mainmobile-img" alt="">
        <div class="section3-titles">
          <h1>Powerwall 2</h1>
          <p>Tesla Home Battery</p>
        </div>
        <div class="btn-container3">
          <button class="mobile-btn3">ORDER POWERWALL</button>
          <button ui-sref="energy" class="mobile-btn3">ABOUT SOLAR ROOF</button>
        </div>
      </div><!-- end section3 wrapper -->

      <div class="section4-wrapper">
        <!-- <li>
            <img src="./images/homepage-energy--touch@750w.jpg" id="main-img4" alt="">
              <div class="textbox3">
                <h1>PowerWall 2</h1>
                <p>Tesla Home Battery</p>
              </div>
              <div class="box4-btns">
                <ul class="btn-container" id="container4">
                  <li class="mobile-btn4"><p>ORDER POWERWALL</p></li>
                  <li class="mobile-btn4"><p>ABOUT SOLAR ROOF<p></li>
                </ul>
              </div>
        </li> -->
      </div><!-- end section4 wrapper -->

      <div class="section5-wrapper">
        <!-- <li>
          <div class="emailBox">
            <h2>Sign up for Tesla Updates</h2>
            <ul class="btn-container" id="container5">
              <li class="mobile-input"><input type="text" name="" value="" placeholder=" example@email.com"></li>
              <li class="mobile-btn5"><p>SIGN UP<p></li>
            </ul>
          </div>
        </li> -->
      </div><!-- end section5 wrapper -->

    </div><!-- end sections wrapper -->

    <div class="fullscreen-bg" id="alt-wrapper">
      <video id="video" loop muted autoplay class="fullscreen-bg__video">

          <source src="./views/images/HomepageLoop_032917.m4v" type="video/mp4" preload="auto">
          <!-- <source src="video/big_buck_bunny.mp4" type="video/mp4">
          <source src="video/big_buck_bunny.ogv" type="video/ogg"> -->
      </video>
      <div class="content-wrapper">
        <div class="header-container">
          <div class="logo-container">
            <div class="logo">
              <img src="./images/client_logo_tesla.png" class="main-logo" alt="">
            </div><!-- end logo -->
          </div><!-- end logo container -->
          <div class="models-container">
            <div class="models">
              <ul class="models-list">

              </ul>
            </div>
          </div><!-- end model container -->
          <div class="links-container">
            <div class="links">
              <!-- <ul class="links-list">
                <li ui-sref="models" id="link">MODEL S</li>
                <li ui-sref="modelx" id="link">MODEL X</li>
                <li ui-sref="model3"  id="link">MODEL 3</li>
                <li ui-sref="energy" id="link">ENERGY</li>
              </ul> -->
            </div><!-- end link -->
          </div><!-- end links container -->
        </div><!-- end header-container -->
        <div class="content-container">
          <div class="text">
            <h2>Longest Range. Active Safety. <br> Quickest Production Car on Earth.</h2>
          </div><!-- end text -->
          <div class="buttons" id="main-desk-btns">
            <button class="hvr-fade" id="order-btn" type="button" name="button">ORDER YOURS</button>
            <button class="hvr-fade" ui-sref="inventory" type="button" name="button">NEW INVENTORY</button>
            <button class="hvr-fade" id="testdrive-btn" type="button" name="button">TEST DRIVE</button>
          </div><!-- end buttons -->
          <div class="newsletter-link">
            <p>GET THE NEWS LETTER &#9656</p>
          </div><!-- end news link -->
        </div><!-- end content container -->
        <div class="footer-container">
          <div class="footer-links">
            <ul>
              <li>Tesla &#9400 2017</li>
              <li>&#x02022</li>
              <li>Privacy and Legal</li>
              <li>&#x02022</li>
              <li>Contact</li>
              <li>&#x02022</li>
              <li>Careers</li>
              <li>&#x02022</li>
              <li>Forums</li>
              <li>&#x02022</li>
              <li>Locations</li>
              <li>&#x02022</li>
              <li><img src="images/flag-us.svg" class="flag" alt=""></li>
            </ul>
          </div>
        </div><!-- end footer container  -->
      </div><!-- end main wrapper -->
      <div class="modal-overlay hidden">
        <div class="modal-container">
          <div class="newsletterModal-header"></div>
            <div class="newsletterModal-content">
               <h1>Get Tesla Updates</h1>
               <p>GET NEWSLETTER</p>
               <form>
                 <input id="emailAddress" type="email" name="email" ng-model="emailAddress" placeholder=" example@email.com"></input>
                 <button ng-click="addEmail()" type="button" value="" id="email-btn">SIGN UP</button>
               </form>
              </div>
             </div>
        </div>

</body>
