<title>Model 3 | Tesla</title>
<div class="main-wrapper">
  <div class="header-container-inventory" id="model3-header-container">
    <div class="logo-container">
      <div class="logo">
        <img ui-sref="mainmobile" src="./images/client_logo_tesla.png" class="main-logo" alt="">
      </div><!-- end logo -->
    </div><!-- end logo container -->
    <div class="models-container">
      <div class="models">
        <ul class="models-list">

      </div>
    </div><!-- end model container -->
    <div class="links-container">
      <div class="links">
        <ul class="links-list">
          <li ui-sref="models">MODEL S</li>
          <li ui-sref="modelx">MODEL X</li>
          <li ui-sref="model3">MODEL 3</li>
          <li ui-sref="energy">ENERGY</li>
        </ul>
        </ul>
      </div><!-- end link -->
    </div><!-- end links container -->
  </div><!-- end header-container models -->

  <div class="hero-container" id="model3-hero-container">
    <video class="model3-video" style="width: 118%; height: auto;" preload="auto"
      autoplay="true" loop="loop">
      <source src="images/model3-hero.mp4" type="video/mp4">
    </video>
    <h1>Model 3</h1>
  </div><!-- end hero container -->
</div><!-- end main wrapper -->
