<title>Model S | Tesla</title>
<div class="main-wrapper">

  <div  class="header-section" id="header-section">
        <a href="#"><img id="burg" src="./images/hamburger2.png" alt=""></a>
        <img ui-sref="mainmobile" src="./images/client_logo_tesla.png" class="main-logo" alt="">
      </div>
      <div class="logo-container">
  </div> <!-- end of header section-->

  <div class="header-container-models" id="models-header">
    <div class="logo-container">
      <div class="logo">
        <img ui-sref="mainmobile" src="./images/client_logo_tesla.png" class="main-logo" alt="">
      </div><!-- end logo -->
    </div><!-- end logo container -->
    <div class="models-container">
      <div class="models">
        <ul class="models-list">

        </ul>
      </div>
    </div><!-- end model container -->
    <div class="links-container">
      <div class="links">
        <ul class="links-list">
          <li ui-sref="models">MODEL S</li>
          <li ui-sref="modelx">MODEL X</li>
          <li ui-sref="model3">MODEL 3</li>
          <li ui-sref="energy">ENERGY</li>
        </ul>
      </div><!-- end link -->
    </div><!-- end links container -->
  </div><!-- end header-container models -->

  <div class="hero-container" id="models-hero-container">
    <img src="images/models-hero-background@2x.jpg" alt="">
  </div><!-- end hero container -->

  <div class="models-navbar">
    <div class="models-navbar-title">
      <h1>Model S</h1>
    </div>
    <div class="navbar-links">
      <ul>
        <!-- <li>Features</li>
        <li>Test Drive</li>
        <li>Custom Order</li>
        <li>Pre-Owned</li>
        <li>Get Updates</li> -->
      </ul>
    </div><!-- end navbar links -->
    <div class="white-line" id="models-white-line"></div><!-- end white line -->
  </div><!-- end models navbar -->

  <div class="models-body-content" id="models-body-content">
    <div class="intro-paragraph">
      <h1>Performance and safety refined</h1>
      <p>Model S is designed from the ground up to be the safest, most exhilarating sedan on the road. With unparalleled performance delivered through Tesla's unique, all-electric powertrain, Model S accelerates from 0 to 60 mph in as little as 2.5 seconds. Model S comes with Autopilot capabilities designed to make your highway driving not only safer, but stress free.</p>
    </div>
    <div class="dual-features" id="dual-features">
      <div class="adapt-light">
        <img id="adapt-light-img" src="images/features--adaptive-headlights.png" alt="">
        <h5>Adaptive Lighting</h5>
        <p>Model S now features full LED adaptive headlamps. Besides enhancing the already great styling, they also boost safety: 14 three-position LED dynamic turning lights improve visibility at night, especially on winding roads.</p>
      </div>
      <div class="def-mode">
        <img id="def-mode-img" src="images/features--hepa-filter.png" alt="">
        <h5>Bio-Weapon Defense Mode</h5>
        <p>Model S now features full LED adaptive headlamps. Besides enhancing the already great styling, they also boost safety: 14 three-position LED dynamic turning lights improve visibility at night, especially on winding roads. Bio-Weapon Defense Mode
        Model S now features a Medical grade HEPA air filtration system, which removes at least 99.97% of particulate exhaust pollution and effectively all allergens, bacteria and other contaminants from cabin air. The bioweapon defense mode creates positive pressure inside the cabin to protect occupants.</p>
      </div>
    </div>
    <div class="models-line"></div><!-- end models-line -->

    <div class="models-email-section" id="models-email-section">
      <p>Be the first to receive the latest Tesla news, events and product updates.</p>
      <div class="models-input" id="models-input">
        <input type="text" name="" placeholder=" example@email.com">
        <button type="button" name="button">GET NEWSLETTER</button>
      </div><!--  -->
    </div><!-- models-email-section -->

    <div class=" self-driving-section" id="self-driving-section">
      <h1>Full Self-Driving Hardware on your Model S</h1>
      <div class="self-driving-video" id="self-driving-video">
        <iframe width="640" height="360"
          src="https://www.youtube.com/embed/wuhbqcMzOaw">
        </iframe>
      </div>
      <p>All Tesla vehicles produced in our factory, including Model 3, have the hardware needed for full self-driving capability at a safety level substantially greater than that of a human driver.</p>
      <div class="self-driving-btns">
        <button type="button" name="button">ORDER NOW</button>
        <button type="button" name="button">LEARN MORE</button>
      </div><!-- end self driving btns -->
    </div><!-- end self driving section -->


  </div><!-- end models-body-content -->
</div><!-- end main wrapper -->
